@import 'normalize';
@import 'variables';

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

button,
input {
  font-family: $font-family;
}

button {
  border-radius: 2px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &.primary,
  &.secondary {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem; */
}

.top {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  // border: 1px dashed royalblue;

  // header styles, to be replaced later with an SVG
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  //border: 2px dashed blueviolet;
  width: 52rem;
  max-width: 98%;
  margin: 0 auto;
}

// ================
// TOOL BAR
// ================
.tool-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: $palette-size;
  max-width: 100%;
}

.tool-bar-button {
  border-radius: 50%;
  transition: background 0.2s ease;
  width: $tool-bar-button-size;
  height: $tool-bar-button-size;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: $text-color-light;
  background: #ffffff;

  &:hover,
  &:focus {
    background: $tool-bar-button-bg-hover;
  }

  &:active {
    background: $tool-bar-button-bg-active;
  }

  &:disabled {
    color: $text-color-disabled;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
    }

    .tool-bar-button-icon {
      stroke: $text-color-disabled;
    }
  }
}

#palette-upload {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.tool-bar-button-icon {
  font-size: $tool-bar-button-icon-size;
  margin-bottom: 8px;
  stroke: $text-color-light;
}

// ================
// PALETTE DISPLAY
// ================
.palette-display {
  margin-top: 1rem;
}

.palette-display-top {
  padding: 1rem 0;
}

.palette-display-inner {
  display: flex;
  flex-flow: row wrap;
  width: $palette-size;
  height: $palette-size;
}

.entry {
  width: 6.25%;
  height: 6.25%;
  position: relative;
}

.is-active::before,
.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
}

.is-active::after {
  border: 1px solid #000000;
}

.status-display {
  border: 1px solid red;
}

.status-preview {
  height: 8px;
  width: 8px;
}

.file-handler {
  margin-bottom: 1rem;
}

.fade-in-up {
  animation: fadeInUp 0.4s ease;
}

.fade-out-down {
  animation: fadeOutDown 0.4s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(32px);
  }
}
