@import 'normalize';
@import 'variables';
@import 'include-media';

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  overscroll-behavior: none;
}

button,
input {
  font-family: $font-family;
}

button {
  border-radius: 2px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &.primary,
  &.secondary {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// ================
// TOP
// ================
.top {
  padding: 0.5rem 0.5rem;
  // border: 1px dashed royalblue;
}

.top-logo {
  width: $top-logo-width-s;
  height: $top-logo-height-s;
}

@include media('>small') {
  .top {
    padding: 0.5rem 2rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
  .top-logo {
    width: $top-logo-width-m;
    height: $top-logo-height-m;
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 52rem;
  max-width: 98%;
  margin: 0 auto;
  // border: 2px dashed red;
}

// ================
// TOOL BAR
// ================
.tool-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.tool-bar-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

@include media('>small') {
  .tool-bar {
    width: $palette-size-m;
  }
}

@include media('>medium') {
  .tool-bar {
    width: $palette-size-l;
  }
}

.tool-bar-button {
  border-radius: 50%;
  transition: background 0.2s ease;
  width: $tool-bar-button-size-s;
  height: $tool-bar-button-size-s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: $text-color-light;
  background: #ffffff;
  font-size: $tool-bar-button-text-size-s;

  &:hover,
  &:focus {
    background: $tool-bar-button-bg-hover;
  }

  &:active {
    background: $tool-bar-button-bg-active;
  }

  &:disabled {
    color: $text-color-disabled;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
    }

    .tool-bar-button-icon {
      stroke: $text-color-disabled;
    }
  }
}

#palette-upload {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.tool-bar-button-icon {
  font-size: $tool-bar-button-icon-size-s;
  margin-bottom: 8px;
  stroke: $text-color-light;
}

@include media('>small') {
  .tool-bar-button {
    width: $tool-bar-button-size-m;
    height: $tool-bar-button-size-m;
    font-size: $tool-bar-button-text-size-m;
  }
  .tool-bar-button-icon {
    font-size: $tool-bar-button-icon-size-m;
  }
}

@include media('>medium') {
  .tool-bar-button {
    width: $tool-bar-button-size-l;
    height: $tool-bar-button-size-l;
    font-size: $tool-bar-button-text-size-l;
  }
  .tool-bar-button-icon {
    font-size: $tool-bar-button-icon-size-l;
  }
}

// ================
// TOAST ELEMENT OVERRIDES
// ================
.react-toast-notifications__toast--warning {
  color: #ffffff !important;
  background-color: #313131 !important;
}

.react-toast-notifications__toast__icon-wrapper {
  background-color: rgb(255, 44, 0) !important;
}

.react-toast-notifications__toast__countdown {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
// ================
// PALETTE DISPLAY
// ================
.palette-display-container {
  width: 100%;
}

.palette-display {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.palette-display-top {
  display: none;
  padding: 1rem 0;
  width: $palette-size-s;
}

.palette-display-bottom {
  padding: 2rem 0;
  width: $palette-size-s;
}

.palette-display-inner {
  display: flex;
  flex-flow: row wrap;
  width: $palette-size-s;
  height: $palette-size-s;
}

@include media('>small') {
  .palette-display-inner {
    width: $palette-size-m;
    height: $palette-size-m;
  }

  .palette-display-bottom {
    width: $palette-size-m;
  }
}

@include media('>medium') {
  .palette-display-inner {
    width: $palette-size-l;
    height: $palette-size-l;
  }

  .palette-display-bottom {
    width: $palette-size-l;
  }
}

.entry {
  width: 6.25%;
  height: 6.25%;
  position: relative;
}

.is-active::before,
.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
}

.is-active::after {
  border: 1px solid #000000;
}

// ================
// EDITOR
// ================
.single-editor-current {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.single-editor-input-container {
  padding-right: 2rem;
  input {
    border-radius: 2px;
    margin-left: 0.5rem;
    border: 1px solid $text-color-disabled;
    width: 4rem;
    padding: 0.25rem;
    // Hide the increment/decrement buttons in Firefox
    -moz-appearance: textfield;

    // Hide the increment/decrement buttons in other browsers
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// ================
// OTHER
// ================
.status-display {
  border: 1px solid red;
}

.status-preview {
  height: 8px;
  width: 8px;
}

// ================
// ANIMATIONS
// ================
.fade-in-up {
  animation: fadeInUp 0.4s ease;
}

.fade-out-down {
  animation: fadeOutDown 0.4s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(32px);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.4s ease;
}

.fade-out-right {
  animation: fadeOutRight 0.4s ease;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(32px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(32px);
  }
}
