$text-color: #111111;
$text-color-light: #555555;
$font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;

$palette-size: 512px;

$tool-bar-button-bg-hover: rgba(146, 247, 247, 0.25);
$tool-bar-button-bg-active: rgba(146, 247, 247, 0.5);
$tool-bar-button-size: 80px;
$tool-bar-button-icon-size: 24px;
